body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: #fff;
}

.topbar {
  background: #b80000;
  padding: 10px;
  display: flex;
  gap: 10px;
}

button {
  background: #222;
  color: #fff;
  border: 1px solid #b80000;
  padding: 8px 12px;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.card {
  background: #222;
  padding: 10px;
  border: 1px solid #b80000;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}
